<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">

      <div id="form">
          <p>Please Signup</p>
            <hr/>
              <form action="/user" method="post">
                  <div class="form-group">
                    <label for="form_username">Username</label>
                    <input id="form_username" type="text" name="username" />
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input id="form_email" type="email" name="email" />
                  </div>
                  <div class="form-group">
                    <label for="form_password">Password</label>
                    <input id="form_password" type="password" name="password" />
                  </div>
                  <button class="btn btn-primary btn-block" type="submit" value="Submit">Create</button>
              </form>
                <hr/>
            <button class="btn btn-danger btn-block" type="submit" href="/login" onClick='document.location.href="/login"'>
              Cancel
            </button>
        </div>
    
  </body>
</html>
